@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
  }
  
  body{
    background-color: #f9f9f9;
  }
  
  .App {
    min-height: 100vh;
    max-width: 576px;
    background-color:#fff;
  }

  .App form{
    margin: 30px auto;
  }

 header{
   padding-top: 10px;
 }

  .form-inline .form-control.header__search{
    width: 92.5%;
    border: 3px solid salmon;
    padding: 5px;
    height: 36px;
    outline: none;
    color: #9dbfaf;
    border-radius: 5px 0 0 5px;
    border-right: none;
  }

  .form-inline .form-control.header__search:focus{
    color: black;
    box-shadow: 0 0 5px salmon;
  }

  .search-box{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    display: flex;
    position: relative;
    margin: 30px 0;
  }

  .search-btn{
    width: 40px;
    height: 36px;
    border: 1px solid salmon;
    background-color: salmon;
    text-align: center;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .App__resep {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
  }

  .popular{
    padding: 15px 25px;
  }

  .popular h1{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    margin: 18px 0;
    color: rgb(6, 6, 44);
    font-size: 20px;
  }

  .popular img{
    cursor: pointer;
    border-radius: 20%;
    margin-right: 10px;
    box-shadow: 0 5px 10px lightgray;
  }
  
  
  @media (max-width: 576px) {
    .App {
      max-width: 100%;
    }
  
    .App__resep {
      display: block;
      margin: 0 auto;
    }

    .popular img{
      width: 100%;
      margin: 0 auto;
    }

    .popular h1{
      font-size: 15px;
    }

    .form-inline .form-control.header__search{
      width: 85%;
      margin: 0;
    }
  }

  @media (max-width: 300px){
    .form-inline .form-control.header__search{
      width: 80%;
      margin: 0;
    }
  }