.recipe__card {
  border-radius: 10px;
  box-shadow: 0 5px 10px lightgray;
  margin-top: 100px;
  margin-bottom: 10px;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.recipe__title {
  font-size: 20px;
}

.recipe__card img{
  position: relative;
  width: 150px;
  border-radius: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.15), inset 0 4px 0 rgba(0, 0, 0, 0.05), inset 0 -4px 0 rgba(0, 0, 0, 0.05), inset 0 10px 10px rgba(0, 0, 0, 0.09), 0 1px 0px rgba(0, 0, 0, 0.1), 0 8px 7px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: -60px;
  margin-bottom: 18px;
}

.recipe__name {
  font-size: 20px;
  font-weight: 600;
  color: rgba(38, 29, 86, 1);
  margin-bottom: 12px;
  text-align: center;
}

.recipe__source {
  font-size: 10px;
  color: rgba(30, 23, 68, 0.4);
  margin-bottom: 15px;
  text-align: center;
}

.recipe__card p {
  font-size: 10px;
  font-weight: 600;
  text-align: center;
}

.recipe__btn{
  border: 1px solid rgba(0, 0, 0, 0.04);
  margin-bottom: 15px;
  padding: 12px 40px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
  background-color: salmon;
  color: #fff;
  box-shadow: 0 5px 1px rgba(248, 142, 124, 0.7);
}

.recipe__btn:hover{
  border: 1px solid salmon;
  background-color: transparent;
  color: salmon;
  box-shadow: none;
  font-weight: 600;
}


@media (max-width: 576px) {
  .recipe__card {
    margin: 90px auto;
    width: 90%;
  }
}

